// *****************************************************************************************

// FONT MIXIN

// *****************************************************************************************


// Use:

// Open Sans Regular
// webfont('Open Sans Regular', 'opensans-regular-webfont', 'normal')

// Open Sans Semibold
// webfont('Open Sans Semibold', 'opensans-semibold-webfont', '700')



// *****************************************************************************************




  
// Building path
font-url(file)
  return '../fonts/' + file

// Font-face
webfont(family, file, weight = 'normal')
  @font-face
    font-family family
    src url(font-url(file + '.eot'))
    src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
        url(font-url(file + '.woff')) format('woff'), 
        url(font-url(file + '.ttf')) format('truetype'), 
        url(font-url(file + '.svg#'+ family)) format('svg')
    font-weight weight
    font-style normal
    

