
// *****************************************************************************************

// HELPERS

// *****************************************************************************************


// deixando a grid a mostra
// [class^="col-"]
// 	background lighten(mainColor, 20)


.no-underline
	text-decoration none
	
	&:hover
		text-decoration none