// *****************************************************************************************

// VARIABLES - RESPONSIVE

// *****************************************************************************************

$screen-xs = 480px

$screen-sm = 768px

$screen-md = 992px

$screen-lg = 1368px


// Rupture settings
rupture.scale = 0 $screen-xs $screen-sm $screen-md $screen-lg

rupture.scale-names = '0' 'xs' 'sm' 'md' 'lg'