// *****************************************************************************************

// GENERAL VARIABLES

// *****************************************************************************************







// COLORS
// ---------------------------------------------------------

mainColor = #000 // cc3333
secondColor = #111

grey = #222
lightGrey = #ccc




// SPACING
// ---------------------------------------------------------

spacingUnit-small = 5px
spacingUnit = 10px
spacingUnit-big = 20px

